body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#container {
    position: relative;
}

#leaf {
    width: 100px;
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#treeCanvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
}
